.qr-body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 23%;
    border-radius: 15px;
    height: 52%;
}

.qr-h2 {
    color: hsl(218, 44%, 22%);
    font-family: 'Overpass', sans-serif;
    width: 82%;
    text-align: center;
    margin-bottom: 0px;
}

.qr-p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    width: 82%;
    text-align: center;
}

img {
    border-radius: 15px;
    margin-top: 15px;
}

@media (max-width: 375px) {
    .qr-box {
        width: 90%;
    }
}